.price {
    margin-bottom: 120px;

    &__title {
        position: relative;
        margin-bottom: 31px;
        text-align: center;
        @include before_circle;

        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__divider {
        margin: 0 auto 60px auto;
        width: 60px;
        height: 3px;
        background-color: $main-color;
    }

    &__wrapper {
        display: grid;
        padding: 0 50px;
        grid-template: repeat(3, 45px) / repeat(2, 370px);
        grid-auto-rows: 45px;
        row-gap: 15px;
        justify-content: space-between;
        align-content: space-between;
    }

   &__item {
    display: grid;
    grid-template: 22px 19px / 189px 122px;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
    padding-left: 25px;
    @include before_circle;
    &:before {
        top: 2px;
        left: 0;
        width: 15px;
        height: 15px;
    }
    &-subtitle {
        font-weight: 700;
    }
    &-price {
        text-align: right;
        font-weight: 700;
    }
    &-descr {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        grid-column: 1/3;
    }
   } 
}