.skills {
    margin-bottom: 120px;

    &__title {
        position: relative;
        margin-bottom: 6px;
        text-align: center;
        @include before_circle;

        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__subtitle {
        margin-bottom: 25px;
        text-align: center;
    }

    &__divider {
        margin: 0 auto 60px auto;
        width: 60px;
        height: 3px;
        background-color: $main-color;
    }

    &__wrapper {
        display: grid;
        margin-bottom: 120px;
        grid-template-columns: repeat(4, 270px);
        gap: 13px;
        grid-template-rows: minmax(270px, auto) minmax(270px, auto);
        grid-auto-rows: minmax(270px, auto);
    }

    &__item {
        padding: 30px 29px 0 30px;
        border: 1px solid #000000;
        img {
            margin-bottom: 20px;
        }

        &:nth-child(4) {
            padding-top: 45px;

            img {
                margin-bottom: 33.3px;
            }
        }

        &:nth-child(7) {
            padding-top: 38px;

            img {
                margin-bottom: 32.09px;
            }
        }

        &-subtitle {
            margin-bottom: 15px;
            font-weight: 700;
        }

        &-descr {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__progress {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: minmax(70px, auto) minmax(70px, auto);
        grid-auto-rows: minmax(70px, auto);
        column-gap: 45px;
        row-gap: 30px;
        &-item {
            display: grid;
            padding: 8px 0 0 14px;
            grid-template-columns: 220px 35px;
            grid-template-rows: 22px 14px;
            justify-content: space-between;
            align-content: space-between;
        }
        &-subtitle {
            position: relative;
            margin-bottom: 27px;
            font-weight: 700;
            @include before_circle;
            &:before {
                top: -8px;
                left: -14px;
            }
        }
        &-interest {
            font-weight: 500;
        }
        &-line {
            width: 350px;
            height: 14px;
            border-radius: 4px;
            background-color: #E8E4DE;
            grid-column: 1/3;
            span {
                display: block;
                height: 100%;
                border-radius: 4px;
                background-color: $main-color;
            }
        }
    }

}